{% extends 'main/base.html' %}
{%block title%}Home Page{%endblock%}

{%block page_name %}Student Jobs Scraper{% endblock %}

{% block content %}

    <form method="POST" action="#" style="margin-top: 100px;">
        {% csrf_token %}
        <div class="hebrew">
            <span style="font-size: 30px">ליצירה אוטומטית של משתמש אורח (ללא הרשמה)</span>
            <input type="submit" name="btn" class="btn btn-primary" style="font-size: 30px" value="לחץ כאן">
        </div>
    </form>
{% endblock %}

