{% extends 'main/base.html' %}

{%block title%}Job List{%endblock%}

{%block page_name %}Job List{% endblock %}

{% block content %}
    <div class="job-list">
        <table class="table table-borderless">
            <tbody>
            {% for job in jobs%}
              <tr>
                <td>
                    <form method="POST" action="#">
                        {% csrf_token %}
                        <input type="submit" name="btn" class="btn btn-danger" value="Delete">
                        <input type="hidden" name="link" value="{{job.link}}">
                    </form>
                </td>
                <td>
                    <form method="POST" action="#">
                        {% csrf_token %}
                        <input type="submit" name="btn" class="btn btn-primary" value="Add to Wishlist">
                        <input type="hidden" name="link" value="{{job.link}}">
                    </form>
                </td>
                <td>
                    <a href={{job.link}} target="_blank" rel="noopener noreferrer">{{job.title}}</a>
                </td>
              </tr>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

