{% extends 'main/base.html' %}

{%block title%}Unwanted Keywords{%endblock%}

{%block page_name %}Unwanted Keywords{% endblock %}

{% block content %}
    <style>
        body {
          font-family: "Poppins", Arial, sans-serif;
          font-size: 14px;
          line-height: 1.8;}
    </style>
    <form method="POST" action="#">
        {% csrf_token %}
                 {% for keyword in keywords%}
                    <div class="btn-group" style="margin-bottom: 20px;" role="group">
                        <button class="btn btn-secondary keyword">{{keyword.keyword}}</button>
                        <button type="submit" class="btn btn-danger mr-2" name="delete" onclick="this.value='{{keyword.keyword|escapejs}}'">X</button>
                    </div>
                {% endfor %}
    </form>

    <form method="POST" action="#" style="margin-bottom: 20px;">
        {% csrf_token %}
        <h2>Add new keyword:</h2>
        <label>
            <input type="text" name="keyword">
        </label>
        <input type="submit" name="btn" class="btn btn-primary" value="Add">
    </form>
    <form method="POST" action="#">
        {% csrf_token %}
        <p>
            <label class="checkbox-wrap checkbox-primary">
                <input type="checkbox" name="ckbx" value="0">
                <span class="checkmark"></span>
                Look for unwanted keywords in the links. (not recommended)
            </label>
        </p>
        <input type="submit" name="update" class="btn btn-success" value="Update Job List">
    </form>

{% endblock %}

